/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 /**
  * This theme was adapted to SCSS to allow Prism classes to have a configurable
  * prefix, so they don't collide with Bulma and application classes.
  */

 $prism-prefix: '' !default;

 code[class*="language-"],
 pre[class*="language-"] {
   color: #f8f8f2;
   background: none;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: .9em;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;

   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;

   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }

 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
   border-radius: 0.3em;
 }

 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #272822;
 }

 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }

 .#{$prism-prefix}token.#{$prism-prefix}comment,
 .#{$prism-prefix}token.#{$prism-prefix}prolog,
 .#{$prism-prefix}token.#{$prism-prefix}doctype,
 .#{$prism-prefix}token.#{$prism-prefix}cdata {
   color: #8292a2;
 }

 .#{$prism-prefix}token.#{$prism-prefix}punctuation {
   color: #f8f8f2;
 }

 .#{$prism-prefix}token.#{$prism-prefix}namespace {
   opacity: .7;
 }

 .#{$prism-prefix}token.#{$prism-prefix}property,
 .#{$prism-prefix}token.#{$prism-prefix}tag,
 .#{$prism-prefix}token.#{$prism-prefix}constant,
 .#{$prism-prefix}token.#{$prism-prefix}symbol,
 .#{$prism-prefix}token.#{$prism-prefix}deleted {
   color: #f92672;
 }

 .#{$prism-prefix}token.#{$prism-prefix}boolean,
 .#{$prism-prefix}token.#{$prism-prefix}number {
   color: #ae81ff;
 }

 .#{$prism-prefix}token.#{$prism-prefix}selector,
 .#{$prism-prefix}token.#{$prism-prefix}attr-name,
 .#{$prism-prefix}token.#{$prism-prefix}string,
 .#{$prism-prefix}token.#{$prism-prefix}char,
 .#{$prism-prefix}token.#{$prism-prefix}builtin,
 .#{$prism-prefix}token.#{$prism-prefix}inserted {
   color: #a6e22e;
 }

 .#{$prism-prefix}token.#{$prism-prefix}operator,
 .#{$prism-prefix}token.#{$prism-prefix}entity,
 .#{$prism-prefix}token.#{$prism-prefix}url,
 .language-css .#{$prism-prefix}token.#{$prism-prefix}string,
 .style .#{$prism-prefix}token.#{$prism-prefix}string,
 .#{$prism-prefix}token.#{$prism-prefix}variable {
   color: #f8f8f2;
 }

 .#{$prism-prefix}token.#{$prism-prefix}atrule,
 .#{$prism-prefix}token.#{$prism-prefix}attr-value,
 .#{$prism-prefix}token.#{$prism-prefix}function,
 .#{$prism-prefix}token.#{$prism-prefix}class-name {
   color: #e6db74;
 }

 .#{$prism-prefix}token.#{$prism-prefix}keyword {
   color: #66d9ef;
 }

 .#{$prism-prefix}token.#{$prism-prefix}regex,
 .#{$prism-prefix}token.#{$prism-prefix}important {
   color: #fd971f;
 }

 .#{$prism-prefix}token.#{$prism-prefix}important,
 .#{$prism-prefix}token.#{$prism-prefix}bold {
   font-weight: bold;
 }
 .#{$prism-prefix}token.#{$prism-prefix}italic {
   font-style: italic;
 }

 .#{$prism-prefix}token.#{$prism-prefix}entity {
   cursor: help;
 }
