@use '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@use '../node_modules/@fortawesome/fontawesome-free/scss/solid' with (
  $fa-font-path: '/fonts/fontawesome'
);
@use '../node_modules/@fortawesome/fontawesome-free/scss/brands' with (
  $fa-font-path: '/fonts/fontawesome'
);

@use 'colors';
@use 'fonts';

@use '../node_modules/bulma/bulma' with (
  $body-size: 20px,
  $body-line-height: 2,
  $content-heading-color: colors.$red,
  $family-sans-serif: fonts.$family-sans-serif,
  $widescreen-enabled: false,
  $fullhd-enabled: false,
  $footer-background-color: colors.$white,
  $link: colors.$red,
  $size-1: 1.8rem,
  $size-2: 1.6rem,
  $size-3: 1.4rem,
  $size-4: 1.3rem,
  $size-5: 1.2rem
);

@use 'prism_okaidia_theme' with (
  $prism-prefix: 'prism--'
);

