version: 2

updates:

  - package-ecosystem: bundler
    directory: '/'
    versioning-strategy: increase
    schedule:
      interval: weekly

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
    groups:
      all:
        patterns:
          - "*" # Update all GitHub Actions

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: monthly
    groups:
      all:
        patterns:
          - "*" # Update all npm dependencies
