version: 2

updates:

  - package-ecosystem: bundler
    directory: '/'
    versioning-strategy: increase
    schedule:
      interval: daily

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
    groups:
      actions:
        patterns:
          - "*" # Update all GitHub Actions together

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: monthly
    groups:
      npm:
        patterns:
          - "*" # Update all npm dependencies together
