version: 2

updates:

  - package-ecosystem: bundler
    directory: '/'
    versioning-strategy: increase
    schedule:
      interval: daily
    groups:
      rubocop:
        patterns:
          - "*rubocop*"
    ignore:
      - dependency-name: "rubocop"
        # We only care about versions that might change config
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    groups:
      actions:
        patterns:
          - "*" # Update all GitHub Actions together
