#sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 200px;
  overflow: hidden;
  padding: 0;
  z-index: 220;
  background: $slate;
  box-shadow: -1px 0 0 $slate-darker inset;
  @include box-sizing(border-box);
  li.selected > a {
    color: $white;
    background-color: $slate-dark !important;
    border-right: 1px solid $slate-darker;
  }
}