<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<meta name="description" content="{{ page.excerpt or pkg.description }}">
<link rel="stylesheet" href="/css/main.css">
