$white:               #fff;
$black:               #181b17;

$pink:                #f5387e;

$purple-lighter:      #f7f2f9;
$purple-light:        #dfd2e9;
$purple:              #d098ff;
$purple-dark:         #a880bf;
$purple-darker:       #9253f6;

$gray:                #f6f6f6;
$gray-dark:           #e6e6e7;
$gray-darker:         #5A5A58;

$slate-lightest:      #cad3da;
$sky-light:           #f5f6f7;
$sky:                 #ebeef0;

$green:               #7ab55c;
$blue:                #0080FF;
$yellow:              #FFF831;
$red:                 #FF5601;

// Colors in use
$primary:             $green;
