/*============================================================================
  Font Family Declarations
==============================================================================*/

/*================ Brandon ================*/
@font-face {
  font-family: 'Brandon';
  src: url('../fonts/Brandon_txt_light-webfont.woff') format('woff'),
       url('../fonts/Brandon_txt_light-webfont.ttf') format('truetype');
  font-weight: $font-weight-light;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: url('../fonts/Brandon_txt_reg-webfont.woff') format('woff'),
       url('../fonts/Brandon_txt_reg-webfont.ttf') format('truetype');
  font-weight: $font-weight-regular;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: url('../fonts/Brandon_txt_med-webfont.woff') format('woff'),
       url('../fonts/Brandon_txt_med-webfont.ttf') format('truetype');
  font-weight: $font-weight-medium;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: url('../fonts/Brandon_txt_bld-webfont.woff') format('woff'),
       url('../fonts/Brandon_txt_bld-webfont.ttf') format('truetype');
  font-weight: $font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: url('../fonts/Brandon_txt_blk-webfont.woff') format('woff'),
       url('../fonts/Brandon_txt_blk-webfont.ttf') format('truetype');
  font-weight: $font-weight-black;
  font-style: normal;
}

body {
  font-family: 'Brandon';
  line-height: 1.6em;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $default-spacing-doubled;
}

h1:first-child {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $primary;

  + * {
    margin-top: $default-spacing;
  }
}

h1 {
  font-size: 42px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

p + p {
  margin-top: $default-spacing-halved;
}

code {
  background-color: $gray;
  padding: 0.2em 0;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;

  &:before, &:after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }
}

pre {
  margin-top: $default-spacing-halved;
  word-break: normal;
  padding: $default-spacing-halved;
  overflow: auto;
  line-height: 1.45;
  background-color: $gray;
  border-radius: 3px;
  word-wrap: normal;
}

pre > code {
  &:before, &:after {
    content: none;
  }
}

a {
  color: #000;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 93%, $primary 93%);
}

a:hover,
a:focus {
  color: $primary;
}

::selection {
  background-color: rgba($yellow, .7);
}

ul li {
  margin-bottom: $default-spacing-halved;
}

ul li ul {
  margin-top: $default-spacing-halved;
}

ul li ul li {
  margin-bottom: $default-spacing-halved;
}

dl:last-child {
  margin-bottom: 0;
}

dt {
  margin-bottom: $default-spacing-halved;

  > code {
    color: $pink;
  }
}

dd + dt {
  margin-top: $default-spacing;
}

p.lead {
  color: $gray-darker;
  font-size: 22px;
  line-height: 1.4;
}

