$max-width: 940px;

$mobile-breakpoint: 540px;

$default-spacing: 32px;
$default-spacing-doubled: $default-spacing * 2;
$default-spacing-tripled: $default-spacing * 3;
$default-spacing-halved: $default-spacing / 2;
$default-spacing-quartered: $default-spacing / 4;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
