/* Primary Colors
---------------------------------------------------- */

$white:          #ffffff;
$black:          #191919;

$slate-lightest: #cad3da;
$slate-lighter:  #96a7b6;
$slate-light:    #454e57;
$slate:          #31373d;
$slate-dark:     #272c30;
$slate-darker:   #212529;

$sky-lighter:    #fafcfc;
$sky-light:      #f2f4f5;
$sky:            #e6ebed;
$sky-dark:       #d3dbe2;

$blue-light:     #4fb0e8;
$blue:           #479ccf;
$blue-dark:      #4293c2;
$blue-darker:    #3e89b5;

$green-lighter:  #e8fac5;
$green-light:    #cae49a;
$green:          #96bf48;
$green-dark:     #82a63f;

$yellow:         #f9f8a4;
$yellow-dark:    #f9f8a4;

$orange:         #f9d2a4;
$orange-dark:    #f4c68c;
$orange-darker:  #d9af7c;

$red:            #f9f8a4;
$red-dark:       #db7878;
$red-darker:     #780000;

/* Secondary Colors
---------------------------------------------------- */

/* Link Colors
---------------------------------------------------- */

$color-link:       $blue;
$color-link-hover: $blue-dark;

/* Sidebar Colors
---------------------------------------------------- */

