/* Sidebar
---------------------------------------------------- */

$width-sidebar: 197px;

#sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: $width-sidebar;
  overflow: hidden;
  padding: 0;
  z-index: 220;
  background: $slate;
  box-shadow: -1px 0 0 $slate-darker inset;
  box-sizing: border-box;
}

.sidebar-nav-heading { 
  height: 15px;
  visibility: hidden;
}

.sidebar-nav-group {
  margin: 0;
  padding: 0;
}

.sidebar-nav-link {
  display: block;
  position: relative;
  padding: 8px 5px 7px 15px;
  color: $slate-lighter;
  width: $width-sidebar;
  @include box-sizing(border-box);
  &:hover {
    color: $slate-lighter;
    text-decoration: none;
    background-color: $slate-dark;
  }
  &:active {
    background-color: $slate-darker;
  }
  &.is-selected {
    color: $white;
    background-color: $slate-dark;
    &:hover {
      color: $white;
      text-decoration: none;
      background-color: $slate-dark;
    }
  }
}

.sidebar-nav-link-badge {
  position: absolute;
  right: 15px;
  top: 8px;
  background: $blue;
  color: $white;
  font-size: 11px;
  padding: 3px 8px;
  line-height: 1;
  display: inline-block;
  border-radius: 20px;
}

.sidebar-account {
  background-color: $slate-dark;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 15px 15px 15px 45px;
  &:hover {
    background-color: $slate-darker;
    text-decoration: none;
  }
}
.sidebar-account-avatar {
  position: absolute;
  top: 16px;
  left: 9px;
  border-radius: 26px;
  max-width: 32px;
  background-color: $white;
  width: 28px;
  height: 28px;
}
.sidebar-account-shop {
  display: block;
  color: $white;
  line-height: 16px;
}
.sidebar-account-user {
  display: block;
  color: $slate-lighter;
  font-size: 12px;
  line-height: 16px;
}

.sidebar-search input {
  background-color: $slate;
  display: block;
  position: relative;
  padding: 8px 5px 7px 15px;
  border: none;
  border-bottom: 1px solid $slate-dark;
  width: 100%;
  color: $white;
  @include placeholder {
    color: $slate-lighter;
  }
  &:focus {
    background-color: $slate-darker;
    outline: none;
    border-color: $slate-darker;
    @include placeholder {
      color: $white;
    }
  }
}

.sidebar-staff-context-staff,
.sidebar-staff-context-next {
  
}

/* Content
---------------------------------------------------- */

#content {
  max-width: 10000px;
  margin: 0 auto;
  position: relative;
  padding: 76px 0 20px $width-sidebar;
  width: 100%;
  box-sizing: border-box;
}