name: Ruby

on: [push, pull_request]

jobs:
  build:
    name: Ruby ${{matrix.ruby}} / ${{matrix.gemfile}}

    strategy:
      matrix:
        gemfile: [Gemfile, gemfiles/minimum_rubocop.gemfile]
        ruby: ["3.2", "3.3", "3.4"]

    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Ruby
      uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Rubocop Version
      if: ${{ matrix.gemfile == 'gemfiles/minimum_rubocop.gemfile' }}
      run: bundle info rubocop | head -1
    - name: RuboCop and Tests
      run: bundle exec rake
      env:
        CHECKING_RUBOCOP_VERSION_COMPATIBILITY: ${{ matrix.gemfile == 'gemfiles/minimum_rubocop.gemfile' }}
