name: Ruby

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.7
      uses: actions/setup-ruby@v1.1.2
      with:
        ruby-version: '2.7.2'
    - name: Cache gems
      uses: actions/cache@v2.1.4
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-rubocop-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-rubocop-
    - name: Install gems
      run: bundle install --jobs 4 --retry 3 --without pages --path vendor/bundle
    - name: RuboCop
      run: bundle exec rubocop
